.contact__container {
  grid-template-columns: auto auto auto !important;
  justify-items: center;
}
.contact__card .bx {
  font-size: 6rem;
  color: var(--second-color);
  transition: all 1s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.contact__card .bx:hover {
  transform: scale(1.1);
  color: var(--first-color);
}
