.skills__container {
  text-align: center;
}
.skills__list {
  row-gap: 3rem;
}
.skills__subtitle {
  margin-bottom: var(--mb-2);
}
html.theme2 .skills__data {
  background-color: #716e6e5c;
}
.skills__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon {
  font-size: 5rem;
  color: var(--first-color);
}
@media screen and (min-width: 320px) {
  .skills__list {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (min-width: 768px) {
  .skills__list {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}
