.themeToggle {
  z-index: 10;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 150px;
  right: 10px;
  overflow: hidden;
  display: flex;
}
.firstHalf {
  width: 50%;
  height: 100%;
  background-color: var(--first-color);
}
.secondHalf {
  width: 50%;
  height: 100%;
  background-color: var(--second-color);
}
.themeArrow {
  z-index: 10;
  cursor: pointer;
  position: fixed;
  top: 185px;
  right: 17px;
}
